.weekly-schedule .list-item{
  display: flex;
  position: relative;
  flex-direction: column;
} 


.top-section{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  height: min-content;
  align-items: center;
  padding-right: 30px;
}

.details-toggle{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.details-toggle:hover{
  background-color: var(--color-base);
}

.details-toggle:hover .dots-icon{
  filter: invert(100%);
}

.dots-icon{
  height: 25px;
  width: 10px;
  margin-right: 5px;
  margin-left: 3px;
  object-fit: cover;
  filter: invert(72%) sepia(35%) saturate(2227%) hue-rotate(179deg) brightness(97%) contrast(92%);
}

.list-item .bottom-section{
  color: var(--color-primary);
  background-color: var(--color-base);
}

.list-item .bottom-section.closed{
  display: none;
}

.bottom-section .picture{
  width: 50px;
}




