.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-primary-two);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.header .left-section {
  width: 180px;
  display: flex;
  align-items: center;
}

.left-section .logo{
  height: 30px;
}

.header .middle-section {
  flex: 1;
}

.header .right-section {
  width: 150px;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

