.top-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-accent-soft);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  box-shadow: 0px 4px 5px var(--color-accent-soft);
}

.top-header .left-section {
  width: 180px;
  display: flex;
  align-items: center;
}

.top-header .middle-section {
  flex: 1;
}

.top-header .right-section {
  width: 150px;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.top-header .nav-base {
  padding: 4px;
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #37acf0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
}

.top-header .nav {
  background-color: #f4f4f4;
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.588);
}

.top-header .nav-icon {
  margin: 0px 4px;
  height: 33px;
  filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(1514%) hue-rotate(200deg) brightness(88%) contrast(93%);
}

.top-header .user-image-base {
  height: 58px;
  width: 58px;
  background-color: #37acf0;
  border-radius: 50px;
  position: absolute;
  right: -13px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.588);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-header .user-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  background-color: #f4f4f4;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.588);
}