:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-primary-two);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --sidebar-clearance-margin: 230px;  

  --color-secondary: #37acf0;
  --color-secondary-two: #3a59d1;

  --color-base: #37acf0;

  --color-primary: #ffffff;
  --color-primary-two: #ece9e9;

  --color-text: #373649;
  --color-text-two: #b5b4b4;

  --color-green-accent: #2ec71a;

  --box-shadow-base: 0px 0px 5px rgba(0, 0, 0, 0.588);
  --box-shadow-soft: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Dark Mode Colors in case the manual toggle doesn't work in the app of the user*/

@media (prefers-color-scheme: dark) {
  :root {
  --color-primary: #373649;
  --color-primary-two: #2d2c2c;

  --color-text: #ffffff;
  --color-text-two: #e3e3e3;
  }

  .header .tool-icon {
    filter: invert(72%) sepia(35%) saturate(2227%) hue-rotate(179deg) brightness(97%) contrast(92%);
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

@media (max-width: 768px) {
  :root {
    --sidebar-clearance-margin: 30px; /* Width of the sidebar when collapsed */
  }
}
