/*This file contains all the styles applied to the rest of the page, i.e the un-specialized parts of the webpage common to all pages*/
body {
  padding-left: 190px;
  background-color: white;
  font-family: arial, roboto;
  color: #373649;
}

a {
  text-decoration: none;
  color: #373649;
}