
body{
  font-family: 'Poppins', sans-serif;
  /*background-color: #f4f6f8;*/
  color: #333;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #e0ecff, #fdf3ff);
  min-height: 100vh;
}
/* Container Card */
.container{
  max-width: 900px;
  margin: 50px auto;
  background: #fff;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 40px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.container:hover{
  transform: translateY(-5px);
}
/* Headings */
h1{
  text-align: center;
  color: #004aad;
  text-decoration: underline;
  font-size: 2.2rem;
  margin-bottom: 10px;
}
h2{
  color: #2c2f75;
  font-size: 1.3rem;
  border-left: 4px solid #004aad;
  padding-left: 10px;
}
/* Sections */
section{
  margin-top: 30px;
  padding: 20px;
  background: #f9faff;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.03);
}
/* Tables */
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  overflow: hidden;
  border-radius: 10px;
}
th , td{
  border-bottom: 1px solid #ddd;
  padding: 14px 10px;
  text-align: left;
}
th{
  background-color: #f1f1f1;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

tr:hover td{
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}
/* Balance Box */
.balance{
/*8background: #e8f0ff;*/
  background: linear-gradient(120deg, #edf3ff, #f4f9ff);
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.balance p{
  font-size: 1rem;
  margin: 10px 0;
}
.balance strong{
  color: #004aad;
}
/* Buttons */
button{
  background: linear-gradient(135deg, #004aad, #6f9e);
  /*background-color: #004aad;*/
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}
button:hover{
  background:linear-gradient(135deg,#2c6fff,#7baeff) ;
  color: pink;
  transform: scale(1.3);
  box-shadow: 0 0px 0px 2px rgba(0, 0, 0, 0.1);
}
/* Payment History */
.payment-history{
  margin-top: 20px;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #e3e9ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.payment-history table{
  width: 100%;
  border-collapse: collapse;
}
.payment-history th{
  background-color: #004aad;
  color: #fff;
  padding: 10px;
}
.payment-history td{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: #fcfcff;
}
.payment-history tr:hover td{
  background-color: #eef4ff;
  transition: 0.3s ease;
}
@keyframes fadeIn {
  from {opacity: 0;
    transform: translateY(15px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.container, section {
  animation: fadeIn 0.6s ease forwards;
}